* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
ul li {
    list-style-type: none;
}

/* UTILITIES */

.flex {
    display: flex;
}

.justify-content {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}



/* HEADER */



.header-container {
    background-color: aqua;
    height: 100px;
    width: 100%;
}

.logo {
    background-color: blue;
    width: 50px;
    height: 50px;
}

.menu  {
    background-color: brown;
    width: 50px;
    height: 50px;  
    display: none;
}



.hamburger {
    background-color: blueviolet;
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 992px) {

    header {
        background-color: aquamarine;
        display: flex;
        justify-content: center;
    }

    .header-container {
        width: 60%;
    }


    .hamburger {display: none;  
    }  
    
    .menu {
        display: block;        
    }
   
}




/* main  */
/* sezione blu cards */

.blue-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    padding-top: 20px;
}

.blue-card {
    background-color: #2a86a5;  
    margin-bottom: 10px; 
    width: 80%; 
    height: 150px; 
    border-radius: 10px;
    
}

.blue-card-large {
    height: 250px;
}

@media screen and (min-width: 768px) {
    .blue-card-container {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0 auto;
        justify-content: center;   
    }
    
    .blue-card {
        width: calc(25% - 1px);
    }
    
    .blue-card-large  {
        width: calc(50% - 1px);
        height: 150px;
    }
}


     /* 2 cards viole t section  */

     .violet-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        background-color: #7a3ac9;
        width: 100%;
        
      }

      .violet-card {
        background-color: #af99cb;
        margin-bottom: 10px;
        width: 80%; 
        border-radius: 10px;
        height: 150px;
      }

      @media screen and (min-width: 768px) {
        .violet-card {
            width: 60%;            
        }
      }

      @media screen and (min-width: 992px) {
        .violet-section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: first baseline;
            gap:10px
        }

        .violet-card {
            width: 30%;            
        }

        .violet-card-large {
            height: 200px;
        }

      } 