* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
ul li {
    list-style-type: none;
}

/* UTILITIES */

.flex {
    display: flex;
}

.justify-content {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}



/* HEADER */

.header-container {
    background-color: #0084fd;
    padding: 1rem;
}

.logo {
    
}

.menu {
       
    display: none;
}


.hamburger {
    color: white;
}

@media screen and (min-width: 992px) {

    header {
        background-color:  #0084fd;
        display: flex;
        justify-content: center;
    }

    .header-container {
        width: 60%;
       
    }


    .hamburger {
        display: none;
    }

    .menu {
        display: block;
        
    }

    .menu ul {
        display: flex;
        gap: 1px;
    }

    .menu ul li a {
        text-decoration: none;
        color: white; 
        padding: 0.5rem 1rem;
        display: block;
    }

    .menu ul li a.get-started {
        color: black;
        background-color: white;
        border-radius: 10px;
        
}
}



/* main  */
/* sezione blu cards */

.blue-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.blue-card {
    background-color: #b5ddff;
    margin-bottom: 10px;
    width: 80%;
    height: 150px;
    border-radius: 10px;

}

.blue-card-large {
    height: 250px;
}

@media screen and (min-width: 768px) {
    .blue-card-container {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        margin: 0 auto;
        justify-content: center;
    }

    .blue-card {
        width: 25%;
    }

    .blue-card-large {
        width:  50%;
        height: 150px;
    }
}


/* 2 cards viole t section  */

.violet-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: #9792e4;
    width: 100%;

}

.violet-card {
    background-color: #af99cb;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 10px;
    height: 150px;
}

@media screen and (min-width: 768px) {
    .violet-card {
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    .violet-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: first baseline;
        gap: 10px
    }

    .violet-card {
        width: 30%;
    }

    .violet-card-large {
        height: 200px;
    }

}



/* TESTIMONIALS SECTION */

.testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #ec76d0;
}

.testimonials-card {
    background: #962179;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    height: 150px;
}

@media screen and (min-width: 768px) {
    .testimonials-card {
        width: 60%;
    }
}

/* BENEFITS SECTION */
.benefits-container {
    background-color: #0e421a;
    text-align: center;
    padding: 10px;

}


.benefit-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}


.benefit-item {
    background: #22c247;
    margin-bottom: 15px;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    height: 150px;
}

@media screen and (min-width: 768px) {


    .benefit-cards {
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        gap: 20px;
        margin-top: 20px;
    }

    .benefit-item {
       width: calc(50% - 10px);
       
    }
}

@media screen and (min-width: 992px) {

    .benefit-cards { 
        gap: 10px;
        margin-top: 20px;
    }

    .benefit-item {
        width: calc(33% - 10px);
    }
}

/* about us section */

.about-us-container {
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }

  .about-us-content {
    margin: 0 auto;
    border: 1px dashed black;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
  }

  .about-us-card {
    border: 1px dashed black;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    height: 100px;
    margin-top: 10px;
  }

  @media screen and (min-width: 768px) {
    .about-us-container {
        gap: 20px;
        padding: 20px 20%;     /* il giusto padding sarebbe 20px 5% da sistemare anche sulle altresezioni */
        display: flex;
        flex-direction: row;
       
    }

  }

  /* GET STARTED SECTION */

  .get-started-container {
    background-color: #98cd11; 
    text-align: center;
    padding: 40px 20px;
  }
  
  .get-started-section  {
    max-width: 600px; 
    margin: 0 auto;
  }


/* footer */
  
  .footer-container {
    background-color: #333333;
    color: #fff; 
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    
  }