* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
ul li {
    list-style-type: none;
}

/* HEADER */



.header-container {
    background-color: aqua;
    height: 100px;
    width: 100%;
}

.logo {
    background-color: blue;
    width: 50px;
    height: 50px;
}

.menu  {
    background-color: brown;
    width: 50px;
    height: 50px;  
    display: none;
}



.hamburger {
    background-color: blueviolet;
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 992px) {

    header {
        background-color: aquamarine;
        display: flex;
        justify-content: center;
    }

    .header-container {
        width: 60%;
    }


    .hamburger {display: none;  
    }  
    
    .menu {
        display: block;        
    }
   
}

/* UTILITIES */

.flex {
    display: flex;
}

.justify-content {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}